$primary-color: #151515;
$text-color: #b4a5a5;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}

.main {
  max-width: 800px;
  padding: 5rem 0;
  margin-top: 5em;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.post {
  list-style: none;
  padding: 0;
  margin: 5em 0;

  & > li {
    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
