$navbar-color: #301b3f;
$text-color: #b4a5a5;

.menu {
  background-color: $navbar-color;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    background-color: transparent;
    min-width: 15em;
    border: none;
    margin-bottom: 2em;
  }

  h1 {
    color: $text-color;
  }
}

.svgDiv {
  z-index: 3;
  position: fixed;
  top: 32px;
  right: 25px;
}

.authorized {
  position: absolute;
  bottom: 100px;

  p {
    color: $text-color;
  }
}
