// .navBar {
//   svg {
//     z-index: 3;
//     position: fixed;
//     top: 20px;
//     left: 35px;
//   }
// }

.menu {
  background-color: #4948a7;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
  }
}

.svgDiv {
  z-index: 3;
  position: fixed;
  top: 32px;
  right: 25px;
}
